@charset "utf-8"; 

@import url("../egovframework/base.css");

/* 초기화 */

html, body {width: 100%; height: 100%;}
body {margin: 0; padding: 0;font-size: 16px;letter-spacing:-0.5px;line-height: 1.2; word-break: keep-all; vertical-align: middle !important;font-family: 'Roboto', 'Noto Sans KR', 굴림, Arial, Helvetica, dotum, sans-serif;overflow-x: hidden;}

body * {box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;}
ol, ul {list-style: none;}
p, ul, li, ol, dl, dt, dd, figure {padding: 0;margin: 0;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin: 0; padding: 0; border: 0}
h1, h2, h3, h4, h5, h6 {font-family: inherit; color: inherit; margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
ul, ul li {margin: 0; padding: 0; list-style: none}
ol, li, dl, dt, dd {margin: 0; padding: 0}
legend {position: absolute; margin: 0; padding: 0; font-size: 0; line-height: 0; text-indent: -9999em; overflow: hidden}
label, input, button, select, img {vertical-align: middle}
button, textarea, input, select {font-family: inherit;color: inherit;padding: 0;}

input, button {margin: 0; padding: 0;}
button {cursor: pointer; border:0;}
textarea, select {font-size: .85em}
select {margin: 0}
p, span, i {margin: 0; padding: 0; word-break: break-all;}
pre {overflow-x: scroll; font-size: 1.1em}

a {text-decoration: none; color: inherit;}
a:link, a:visited {text-decoration: none; display: inline-block;}
a:hover, a:focus, a:active {text-decoration: none !important;}

th {font-weight:500;}

input[type=text], input[type=password], textarea {
-webkit-transition: all 0.30s ease-in-out; 
-moz-transition: all 0.30s ease-in-out; 
-ms-transition: all 0.30s ease-in-out; 
-o-transition: all 0.30s ease-in-out; 
outline: none; 
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
/*box-shadow: 0 0 5px #9ed4ff; */
border: 1px solid #6164e9; 
}

input[type="checkbox"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0}
input[type="checkbox"] + label::after{content:'';display:block;width: 20px;height: 20px;position: relative;background:url(../../images/icons/check.png) 0 0 no-repeat;}
input[id="check1"]:checked + label::after{content:'';display:block;width: 20px;height: 20px;text-align: center;background:url(../../images/icons/checked.png) 0 0 no-repeat;}
* {box-sizing:border-box;}
.placeholdersjs {color: #aaa !important;}
#wrap {width: 100%;min-width: 1024px;height: 100%;}
#header {background: #293e89;width: 100%;float: left;height: 50px;position:relative;text-align:center;border-bottom:#051347 1px solid;}
#logo {display: inline-block;position: absolute;left: 24px;top: 17px;}
#lnb {display: inline-block;position: absolute;right: 13px;top: 5px;}
#lnb a {display:block;float:left;width:40px;height:40px;}
#lnb a.call {background:url(../../images/icons/lnb_m01.png) center center no-repeat;}
#lnb a.push {background:url(../../images/icons/lnb_m02.png) center center no-repeat;position:relative;}
#lnb a.push span {display: inline-block;position: absolute;right: -4px;top: 3px;color: #fff;font-size: 11px;font-weight: 600;background: #f14144;padding: 1px 5px;border-radius: 10px;}
#logo span {font-size: 14px;color: #fff;margin-left: 10px;}
#gnb {display: inline-block;margin: 0 auto;padding-top:3px;}
#logo span i {display: inline-block;margin-left: 6px;}
#gnb a {display: inline-block;float: left;font-size: 12px;color: #fff;line-height: 44px;padding: 0 10px;border-radius:40px;margin:0 5px;opacity:0.7;}
#gnb a.active {opacity:1;}
#gnb a i {display: inline-block;margin-right:5px;}
#gnb a i img {display: inline-block;}
#gnb a:hover {background:#172555;opacity:1;}

#container {clear: both;width: 100%;height:calc(100% - 51px);background: #f5f8ff;padding:14px;}
#container > section {border-radius:10px ;border:#a0a9b0 1px solid;width: 49.5%;background: #fff;height: 100%;overflow:hidden;}
#charting {float: left;padding:16px;}
#right_con {float: right;padding:16px;}
.chating_inner {width:100%;height:100%;border:#eceeef 1px solid;overflow:hidden;background: #f3f5f9;border-radius: 8px;position:relative;}
.chating_head {padding: 0;height: 70px;border-bottom: #a0a9b0 1px solid;}
.chating_head_inner {padding: 10px;}
.chating_head h2 {font-size: 20px;}
.chating_head p {font-size: 12px;line-height: 1.2;color: #A0A9B0;}
.chating_con {clear: both;width: 100%;padding:0; height: calc(100% - 140px);position:relative;}

.chating_contents {padding: 0;width: 100%;position: absolute;top: 0;left: 0;overflow-x: hidden;height: 100%;overflow-y: auto;}
.chating_contents ul {padding:10px;}
.chating_bottom {clear:both;height: 70px;border-top: #a0a9b0 1px solid;}
.chating_bottom_inner {padding: 10px;}
.chating_bottom h2 {font-size: 20px;}
.chating_bottom p {font-size: 12px;line-height: 1.2;color: #A0A9B0;}
.chating_contents ul {overflow:hidden;background: #f3f5f9;}
.chating_contents li {clear:both;width:70%;margin:10px 0;overflow:hidden;}
.chating_contents li.guest {float:left;text-align:left;}
.chating_contents li.counseller {float:right;text-align:right;}
.chating_contents li em {font-size: 12px;line-height: 1.2;color: #A0A9B0;display:block;margin-bottom:10px;}
.chating_contents li div {clear:both;display:inline-block;padding:20px;}
.chating_contents li div p {font-size:14px;line-height:1.4;}
.chating_contents li.guest div{background:#fff;border-radius: 0 20px 20px 20px;border: #9594a1 1px solid;}
.chating_contents li.counseller div{background:#fff;border-radius: 20px 0 20px 20px;border: #9594a1 1px solid;}
span.dengerus {padding: 6px;border-radius: 12px;display: inline-block;margin-bottom: 10px;background:#fef2f2;color:#E54C60;font-size:12px;}
span.dengerus i{margin-right:5px;text-align:center;background:#d64751;color:#fff;width:13px;height:13px;line-height:13px;border-radius:50%;display:inline-block;font-size:10px;} 
/********/
.counsel {width:100%;height:100%;border:#eceeef 1px solid;overflow:hidden;position: relative;background: #f3f5f9;border-radius: 8px;}
.counsel_search {width:100%;height:68px;border-bottom: #a0a9b0 1px solid;padding:10px;}
.counsel_search select {float: left;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;width: 150px;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.counsel_search select::-ms-expand {display:none;}
.counsel_search input[type="text"] {float:left;margin-left:10px;font-size:16px;color:#A0A9B0;border: 1px solid #A0A9B0;width:calc(100% - 260px);height:48px;padding:12px 8px 12px 16px;border-radius:10px;display:inline-block;}
.counsel_search button{float:right;background: #172555;display:inline-block;width:90px;height:48px;border-radius:10px;text-align:center;font-size:16px;line-height:48px;color:#fff;}



.counsel_con {width: 100%;height: calc(100% - 68px);overflow: hidden;position: relative;background:#fff;}
.counsel_con_inner {width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow-x: hidden;overflow-y: auto;}
.counsel_date {width: 100%;height: 33px;}
.counsel_date p {line-height: 33px;text-align: right;padding-right: 10px;color:#A0A9B0;font-size:11px;}

.counsel_contents {clear: both;width: 100%;overflow: hidden;padding: 20px 10px 10px 10px;background: #f3f5f9;}
.counsel_contents > ul > li {clear:both;padding:10px 0;border-top: #a0a9b0 1px solid;position:relative;overflow:hidden;width:100%;}
.counsel_contents > ul > li h3{color:#282A2E;width:59px;font-size:16px;position:absolute;left:0;top:50%;margin-top:-8px;z-index:10;}
.counsel_contents > ul > li > div {width:calc(100% - 59px);float:right;}
.counsel_contents > ul > li:first-child {border-top: none;}
.counsel_kind span {padding: 3px 14px 3px 3px;border: #9594a1 1px solid;display: inline-block;margin-left: 6px;background: #fff;color: #6A7278;font-size: 14px;line-height: 29px;border-radius: 30px;}
.counsel_kind span:first-child {margin-left: 0;}
.counsel_kind span i {margin-right:5px;background:#8397C9;display: inline-block;font-size:14px;color:#fff;width:29px;height:29px;line-height:29px;border-radius:50%;text-align:center;}
.ai_part_txt {background: #fff;padding: 20px;border: #a0a9b0 1px solid;border-radius: 8px;position:relative;}
.ai_part_txt h4 {color:#474D52;font-size:16px;margin-bottom:10px;}
.ai_part_txt p {color:#282A2E;font-size:16px;line-height:1.4;}

.counsel_more_btn {clear: both;margin-top: 10px;text-align: center;}

.counsel_more_btn a {color:#6A7278; font-size:14px;vertical-align:middle;}
.counsel_more_btn a i {display:inline-block;margin-left:10px;vertical-align:text-bottom;}
.chang_open_con {display: inline-block;position: absolute;right: 20px;top: 20px;z-index: 10;}
.chang_open_con span {position:relative;display:inline-block;width:20px;height:20px;margin-left:10px;}

.kms_part_txt li {margin-top: 10px;}
.kms_part_txt li:first-child {margin-top: 0;}
.kms_part_con {background: #fff;padding: 20px;border: #a0a9b0 1px solid;border-radius: 34px;position: relative;display:inline-block;}
.kms_part_con p {display: inline-block;width: calc(100% - 40px);}
.kms_part_con span {display:inline-block;margin-left:20px;vertical-align:middle;}
.chang_open_btn {overflow: hidden;width: 20px;height: 20px;background: url(../../images/icons/btn_zoom.png ) center center no-repeat;text-indent: -99999px;}
.counsel_flag {width: 40px;height: 40px;position: absolute;left: 10px;top: 10px; z-index: 99;}
.counsel_flag a {display:block;overflow:hidden;border-radius:50%;}
.counsel_flag a img {display:block;}

.counsel_pagenation {padding: 4px;text-align: center;display: none;border: #cfd4d7 1px solid;position: absolute;background: #fff;top: 10px;left: 59px;border-radius: 10px;    z-index: 99;}
.counsel_pagenation.open {display: inline-block;}
.counsel_pagenation li {display:inline-block;width:30px;height:30px;margin:0 3px;}
.counsel_pagenation li a{background:#fff;display:block;text-align:center;font-size:13px;color:#333;line-height:30px;border-radius:50%;border:#eef0f1 1px solid;}
.counsel_pagenation li.on a {color:#fff;background:#0f4881;}
.counsel_pagenation li.page_prev a {border:none;}
.counsel_pagenation li.page_next a {border:none;}

/**popup***/
.counsel_popup {display:none;padding:20px;width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: #F5F8FF;overflow-x:hidden;overflow-y:scroll;z-index:99;}
.counsel_popup.show {display:block;}
.counsel_popup.hide {display:none;}
.btn_popup_close {text-align: right;margin-bottom: 10px;overflow: hidden;}
.counsel_popup h2 {padding:20px;background: #293E89;border-radius:8px;font-size:20px;color:#fff;}
.counsel_poopup_con {padding: 20px;background: #fff;border-radius:8px;border-radius:#a0a9b0;color: #49475F;font-size:14px;line-height:1.2;}

/**popup***/

.chating_popup {background: #D6E2FF;width:100%;padding:10px;border-radius:8px;position: absolute;left: 0;bottom: 0;z-index:99;overflow:hidden;}
.chating_popup h3 {color: #172555;font-size:14px;line-height:20px;margin-bottom:10px;font-weight:400;}
.chating_popup h3 i {display:inline-block;width:20px;height:20px;margin-right:5px;}
.chating_popup_con {clear: both;width: 100%;overflow:hidden;}
.chating_popup_con button {float:right;background: #293E89;width:100px;height:100px;line-height:100px;border-radius:10px;text-align:center;font-size:16px;color:#fff;font-weight:500;}
.chating_popup_con textarea {height:100px;font-size:16px;padding:8px 16px;color:#A0A9B0;display:inline-block;border:#a6b0ba 1px solid;float:left;width:calc(100% - 110px);border-radius:10px;}

/**notice***/
#notice_con {float: right;}
.notice_title {width: 100%;padding: 30px;border-bottom: #d5d5d5 1px solid;position:relative;height:86px}
.notice_title h2 {color:#22215B;font-size:20px;line-height:1.2;}
.btn_close {display: inline-block;position: absolute;right: 30px;top: 30px;}
.notice_title h2 > a {display: inline-block;vertical-align: bottom;margin-right: 10px;}
.notice_contents {background: #f3f5fa;width: 100%;overflow: hidden;height: calc(100% - 86px);position:relative;}
.notice_con_inner {padding:20px;width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow-x:hidden;overflow-y:auto;z-index:99;}
.view_total {width: 100%;overflow: hidden;margin-bottom: 20px;}
.view_total .btn_ranking {background:#fff;text-align:center;width:104px;height:50px;line-height:50px;display: inline-block;float:left;border: 1px solid #293E89;border-radius:10px;color: #293E89;font-size:16px;}
.alim_button {display: inline-block;float: right;text-align:right}
.alim_button a {margin-left:23px;display: inline-block;font-size:12px;color:#22215B;line-height:50px;}

.notice_con_inner li {clear: both;width: 100%;margin: 10px 0;border-radius: 30px;overflow: hidden;position:relative;}
.notice-list li a {background: #fff;display:block; padding: 12px 26px;border:transparent 2px solid; border-radius: 30px;}
.notice-list li a:hover {border:#0367a6 2px solid;}
.notice-list li a:hover p{}
.notice-list li a p {font-size:16px;color:#333;font-weight:600;}
.notice-list li a span.notice_date {font-size:10px;color:#333;}

.notice-list li a.visited p {font-size:16px;color:#A0A9B0;font-weight:400;}
.notice-list li a.visited span.notice_date {color:#DBDFE0;}
.pagenation {clear: both;padding: 20px 0;text-align: center;}
.pagenation li {display:inline-block;width:28px;height:28px;margin:0 3px;}
.pagenation li a{background:#fff;display:block;text-align:center;font-size:13px;color:#333;line-height:28px;border-radius:50%;}
.pagenation li.on a {color:#fff;background:#0f4881;}
.pagenation li.page_prev a {overflow:hidden;text-indent:-9999px;background:transparent url(../../images/icons/paging_prev.gif) center center no-repeat;}
.pagenation li.page_next a {overflow:hidden;text-indent:-9999px;background:transparent url(../../images/icons/paging_next.gif) center center no-repeat;}

div.checkbox {display: inline-block;position: absolute;right: 3%;top: 50%;margin-top: -10px;}
div.checkbox span {position: relative;display: inline-block;width: 20px;height: 20px;}
/**rangking***/
#rangking_con {float: right;}
.rangking_title {width: 100%;padding: 30px;border-bottom: #d5d5d5 1px solid;position:relative;height:86px}
.rangking_title h2 {color:#22215B;font-size:20px;line-height:1.2;}
.btn_close {display: inline-block;position: absolute;right: 30px;top: 30px;}
.rangking_title h2 > a {display: inline-block;vertical-align: bottom;margin-right: 10px;}
.rangking_contents {background: #f3f5fa;width: 100%;overflow: hidden;height: calc(100% - 86px);position:relative;}
.rangking_con_inner {padding:16px;width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow-x: hidden;overflow-y: auto;}
.rangking_keyword {width: 100%;text-align: right;overflow: hidden;margin-bottom: 16px;}

.rangking_keyword select {float: right;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;width: auto;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.rangking_keyword select::-ms-expand {display:none;}

.rangking_data_table table{border-bottom: 1px solid #d3d3d3;}
.rangking_data_table th {color:#282A2E;font-size: 14px;padding: 8px 16px;text-align: center; font-weight:500;background: #D6E2FF;}
.rangking_data_table td {color:#282A2E;font-size: 14px;padding: 8px 16px;text-align: center;border-bottom: 1px solid #DBDFE0;background: #fff;}

/***서브공통**/
.right_title {width: 100%;padding: 30px;border-bottom: #d5d5d5 1px solid;position:relative;height:86px}
.right_title h2 {color:#22215B;font-size:20px;line-height:1.2;}
.btn_close {display: inline-block;position: absolute;right: 30px;top: 30px;}
.right_title h2 > a {display: inline-block;vertical-align: bottom;margin-right: 10px;}
.right_contents {background: #f3f5fa;width: 100%;overflow: hidden;height: calc(100% - 86px);position:relative;}
#sub_right_con {float: right;}

/******상담이력요약******/
.board_search {width: 100%;height: 68px;/* border-bottom: #a0a9b0 1px solid; *//* padding: 10px; */}
.board_search input[type="text"] {float:left;font-size:16px;color:#A0A9B0;border: 1px solid #A0A9B0;width:calc(100% - 114px);height:48px;padding:12px 8px 12px 16px;border-radius:10px;display:inline-block;}
.board_search button{float:right;background: #293E89;display:inline-block;width:90px;height:48px;border-radius:10px;text-align:center;font-size:16px;line-height:48px;color:#fff;}
.board-list li {clear: both;width: 100%;margin: 10px 0;border-radius: 30px;overflow: hidden;position:relative;}
.board-list li > a {background: #fff;display:block; padding: 12px 150px 12px 26px;border:transparent 2px solid; border-radius: 30px;}
.board-list li > a:hover {border:#0367a6 2px solid;}
.board-list li > a p {font-size:16px;color:#474D52;    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.board-list li > a span.notice_date {font-size:10px;color:#889196;}
.manager {display: inline-block;position: absolute; right: 24px;top: 13px;text-align: right;}
.manager span {display: inline-block;color:#172555;font-size:16px;line-height:39px;padding:0 14px;position:relative;}
.manager span:before {content:'';background:#8397c9;height:16px;width:1px;position:absolute;left:0;top:12px;}
.manager span:first-child:before {display:none;}

.no-massage {text-align: center;color: #6A7278;font-size: 16px;}

/****view***/
.view_con_inner {width: 100%;height: 100%;padding: 16px;}
.board_data {text-align: right;overflow: hidden;margin-bottom: 16px;}
.board_data p{color: #6A7278;text-align: right;font-size:16px;}
.board_bottom_btn {width: 100%;clear:both;height:73px;text-align:right;padding-top:23px;}
.board_bottom_btn a{margin-left:8px;border-radius:10px;display:inline-block;background: #293E89;width:100px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:16px;}
.board_bottom_btn a:first-child{margin-left:0;}
.board_bottom_btn a.bnt_cancle {background: #fff;border: #293E89 1px solid;color: #293E89;}
.board_view_content {background: #fff;width: 100%;height: calc(100% - 124px);padding: 16px;border-radius: 10px;font-size:16px;color:#282A2E;}
/****edit***/
.board_write_content{border:#A0A9B0 1px solid;background: #fff;width: 100%;height: calc(100% - 124px);padding: 16px;border-radius: 10px;font-size:16px;color:#282A2E;}
.board_write_content textarea {border:none;display:block;width:100%;height:100%;color:#282A2E;font-size:16px;}

/****history***/
a.btn_view_history {display: inline-block;width: 62px;height: 39px;border: #293E89 1px solid;color: #293E89;line-height: 37px;text-align: center;border-radius: 10px;}

/****history_popup***/

#counsel_history_popup {display:none;position: fixed;left: 0;top: 0;background: rgba(0,0,0,0.5);width: 100%;height: 100%;z-index: 999;}
.history_detail_popup {width: 100%;height: 100%;background: #fff;overflow: hidden;border-radius: 10px;}
.history_pop_header {width: 100%;background: #fff;height: 72px;border-bottom: #A0A9B0 1px solid;position:relative;}
.detail_pop_container {clear: both;width: 100%;height: calc(100% - 72px);background: #f5f8ff;padding: 14px;}
.detail_pop_container > section {border-radius:10px ;border:#a0a9b0 1px solid;width: 49.5%;background: #fff;height: calc(100% - 104px);overflow:hidden;}
.history_pop_header #logo span {color:#172555;font-size:14px;}
.history_pop_header #logo {display: inline-block;position: absolute;left: 24px;top: 27px;}
.organ_name {width: 100%;height: 79px;margin-bottom: 15px;background: #fff;border: #A0A9B0 1px solid;border-radius: 10px;padding: 16px;position: relative;}
.organ_name h2 {color:#282A2E;font-size:16px;line-height:1.5;}
.organ_name p {color:#6A7278;font-size:14px;}
#counsel_history_popup .btn_close {top: 26px;cursor:pointer;}

/***news***/
a.btn_del_con {display: inline-block;width: 62px;height: 39px;border: #293E89 1px solid;color: #293E89;line-height: 37px;text-align: center;border-radius: 10px;}
.board_write_btn {width: 100%;margin-bottom: 16px;overflow: hidden;}
.board_write_btn a{border-radius:10px;display:inline-block;background: #293E89;width:100px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:16px;}


/***del_alert_popup***/
#del_alert_popup {display:none;width: 312px;height: 165px;overflow: hidden;border-radius: 6px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background:#fff;z-index:9999;border: #a0a9b0 1px solid;-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);}
.del_alert_head {width: 100%;height: 44px;border-bottom: #E1E1E1 1px solid;padding: 16px 24px;}
.del_alert_head h3 {color:#2C2F38;font-size:16px;}
.del_alert_con {width: 100%;height: 54px;padding: 16px 24px;border-bottom: #E1E1E1 1px solid;}
.del_alert_con p{color:#2F2F30;font-size:16px;}
.del_alert_btn {padding: 8px 0;text-align: center;clear: both;}
.del_alert_btn a{margin-left:8px;border-radius:10px;display:inline-block;background: #293E89;width:130px;height:49px;line-height:49px;text-align:center;color:#fff;font-size:16px;}
.del_alert_btn a:first-child{margin-left:0;}
.del_alert_btn a.bnt_cancle {background: #fff;border: #293E89 1px solid;color: #293E89;}
.news_view_content {background: #fff;width: 100%;height: calc(100% - 124px);border-radius: 10px;overflow:hidden;position:relative;}
.board_view_inner {background: #fff;width: 100%;height: 100%;padding: 16px;position:absolute;overflow-x:hidden;overflow-y:auto;font-size:16px;color:#282A2E;}

#sub_right_con form {width:100%;height:100%;}

.right_input_title {width: 100%;padding: 15px;border-bottom: #d5d5d5 1px solid;position: relative;height: 86px;}
.right_input_title input[type="text"]{padding:10px;height:55px;width:calc(100% - 94px);border:#A0A9B0 1px solid;display:inline-block;color:#A0A9B0;font-size:16px;border-radius:10px;}
.right_input_title h2 > a {display: inline-block;vertical-align: middle;margin-right: 20px;}
 /****news***/
.edit_write_content{overflow:hidden;border:#A0A9B0 1px solid;background: #fff;width: 100%;height: calc(100% - 124px);padding: 0;border-radius: 10px;font-size:16px;color:#282A2E;}
.editor_area {width: 100%;height: 45px;background: #f3f2f2;}
.edit_write_content textarea {border:none;display:block;width:100%;height:calc(100% - 45px);color:#282A2E;font-size:16px;padding:16px;overflow-x:hidden;overflow-y:auto;}

/***setting***/

.setting_keyword {width: 100%;text-align: right;overflow: hidden;margin-bottom: 16px;}

.setting_keyword select {width:182px;float: right;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.setting_keyword select::-ms-expand {display:none;}
.setting_content {width: 100%;padding: 24px;background: #fff;border-radius:10px;}
.radios {position: relative;}
.radios input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.radios input[type="radio"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.radios input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: 0px; width: 20px; height: 20px; text-align: center; background: #fff; border: 2px solid #293e89; border-radius: 50%;}
.radios input[type="radio"] + label:active:before, .radios input[type="radio"]:checked + label:active:before {}
.radios input[type="radio"]:checked + label:before { content: ''; position: absolute; left: 0; top: 0px; width: 20px; height: 20px; text-align: center; background: #fff; border: 2px solid #293e89; border-radius: 50%;}
.radios input[type="radio"]:checked + label:after {content: ''; position: absolute; left: 5px; top: 5px; width: 10px; height: 10px; text-align: center; background: #293e89;border-radius: 50%;}
.setting_btn {clear:both;width:100%;overflow:hidden;margin-top:20px;text-align:right;padding-bottom: 20px;}
.setting_btn a{border-radius:10px;display:inline-block;background: #293E89;width:130px;height:49px;line-height:49px;text-align:center;color:#fff;font-size:16px;}
.radios label {
  font-size: 14px;
  color: #282A2E;
  line-height: 1.6;
}

.font_choice li:nth-child(2) .radios label {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

.notice_con_inner .setting_content li {
  margin: 14px 0;
  border-radius: 0;
}
.my_choice label {color:#474D52;font-size:16px;display:inline-block;width:106px;height: 48px;line-height: 48px;}
.my_choice input[type="text"] {width:298px;font-size: 16px;color: #DBDFE0;border: 1px solid #DBDFE0;display:inline-block;height: 48px;padding: 12px 16px;border-radius: 10px;}
.my_choice select {width:182px;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.my_choice select::-ms-expand {display:none;}

/***mpnitoring***/

.monitor_head {width: 100%;height: 48px;margin-bottom: 16px;}

.monitor_head select {float:right;width:182px;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.monitor_head select::-ms-expand {display:none;}
.monitor_head .refresh {display: block;float: left;width: 48px;height: 48px;overflow: hidden;text-indent: -99999px;border: #293E89 1px solid;background: #fff url(../../images/icons/fresh.gif) center center no-repeat;border-radius: 10px;}
.monitor_head .monitor_history {display: block;float: left;width: 87px;height: 48px;overflow: hidden;border: #293E89 1px solid;background: #fff;border-radius: 10px;color:#293E89;font-size:16px;line-height:46px;margin-left:10px;}

.counseller_monitoring {clear: both;width: 100%;overflow: hidden;}
.counseller_monitoring > ul > li {clear:none;width:18%;float:left;margin:0 2.5% 2.5% 0;border-radius:0;}

.counseller_monitoring > ul > li:nth-child(5n) {margin-right:0;}
.counseller_monitoring > ul > li:nth-child(5n+1) {clear:both;}
.monitor_couseller {background: #fff;border-radius: 10px;padding: 8px 16px;border: #fff 1px solid;overflow:hidden;}
.monitor_couseller:hover {border: #293E89 1px solid;}
.monitor_couseller span {display:inline-block;margin-bottom:8px;font-size:12px;padding:2px 3px;border-radius:4px;}
.monitor_couseller p {clear:both;color:#172555;font-size:16px;font-weight:500;}
.counsel_ing {background: #ccf1d6;color:#00B733;}
.counsel_end {background: #dadbdc;color:#474D52;}
.counsel_ready {background: #cfd9fd;color:#1043F6;}
.monitor_couseller a {display: block;}

.counsel form {width: 100%;height: 100%;}

#jubsok_detail > section {height:100%;}


.jubsok_con {width: 100%;height: calc(100% - 66px);position:relative;}

.chating_write {clear: both;width: 100%;overflow:hidden;height:66px;padding:10px 16px;position:absolute;left:0;bottom:0;}
.chating_write_con button {float:right;background: #293E89;width:100px;height:48px;line-height:46px;border-radius:10px;text-align:center;font-size:16px;color:#fff;font-weight:500;}
.chating_write_con textarea {height:48px;font-size:16px;padding:8px 16px;color:#A0A9B0;display:inline-block;border:#a6b0ba 1px solid;float:left;width:calc(100% - 110px);border-radius:10px;}


.group_content {clear: both;width: 100%;padding: 16px;overflow: hidden;background: #fff;border-radius: 10px;}
.group_head {width: 100%;overflow: hidden;margin-bottom: 16px;}
.group_head select {margin-left:10px;width:182px;font-size: 16px;color: #A0A9B0;border: 1px solid #A0A9B0;height: 48px;padding: 12px 8px 12px 16px;border-radius: 10px;display: inline-block;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: #fff url(../../images/icons/select_arr.gif) 90% 19px no-repeat;}
.group_head select::-ms-expand {display:none;}
.group_head select:first-child {margin-left:0;}
.group_head span {display: inline-block;margin-left: 16px;position:relative;}
.group_head span label {display: inline-block;color: #282A2E;font-size: 14px;padding-left:25px;}
.group_head span input[type="checkbox"] + label::after {position: absolute;left: 0;top: 0;}
.group_head span input[id="check1"]:checked + label::after {position: absolute;left: 0;top: 0;}
.group_menu {width: 200px;border: #A0A9B0 1px solid;border-radius: 10px;overflow:hidden;float:left;}
.group_autho_list {width: calc(100% - 220px);float: right;border: #A0A9B0 1px solid;border-radius: 10px;overflow:hidden;}
.group_menu li {border-radius: 0;margin:0;border-top:#C9D0D2 1px solid;}
.group_menu li:first-child {border-top:none;}
.group_menu li a {display:block;color:#111;font-size:16px;padding:16px 8px;}
.group_menu li a:hover {background:#F3F5FA;}
.group_menu li a.active {background:#F3F5FA;font-weight:600;}
.group_autho_list table {
    width: 100%;
    table-layout: fixed;
}
.group_autho_list table td {padding:24px 16px;border-top:#C9D0D2 1px solid;color:#474D52;font-size:16px;}
.group_autho_list table td.border_none {border-top:none;}

.group_head .refresh {display: block;float: right;width: 48px;height: 48px;overflow: hidden;text-indent: -99999px;border: #293E89 1px solid;background: #fff url(../../images/icons/fresh.gif) center center no-repeat;border-radius: 10px;}
.group_setting_con table{border-bottom: 1px solid #d3d3d3;}
.group_setting_con th {color:#282A2E;font-size: 14px;padding: 8px 16px;text-align: center; font-weight:500;background: #D6E2FF;}
.group_setting_con td {color:#282A2E;font-size: 14px;padding: 8px 16px;text-align: center;border-bottom: 1px solid #DBDFE0;background: #fff;}
a.btn_autho_setting {display: inline-block;width: 62px;height: 39px;border: #293E89 1px solid;color: #293E89;line-height: 37px;text-align: center;border-radius: 10px;}


.group_autho_list table td.w30 {width:30%;}
.group_autho_list table td.w20 {width:20%;}


/***del_alert_popup***/
#author_alert_popup {display:none;width: 312px;overflow: hidden;border-radius: 6px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background:#fff;z-index:9999;border: #a0a9b0 1px solid;-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);}
.author_alert_head {width: 100%;height: 44px;border-bottom: #E1E1E1 1px solid;padding: 16px 24px;}
.author_alert_head h3 {color:#2C2F38;font-size:16px;}
.author_alert_con {width: 100%;padding: 16px 24px;border-bottom: #E1E1E1 1px solid;}
.author_alert_con p{color:#2F2F30;font-size:16px;}
.author_alert_btn {padding: 8px 0;text-align: center;clear: both;}
.author_alert_btn a{margin-left:8px;border-radius:10px;display:inline-block;background: #293E89;width:130px;height:49px;line-height:49px;text-align:center;color:#fff;font-size:16px;}
.author_alert_btn a:first-child{margin-left:0;}
.author_alert_btn a.bnt_cancle {background: #fff;border: #293E89 1px solid;color: #293E89;}

@media all and (max-width:1630px) {
.group_menu { width: 156px;}
.group_autho_list {width: calc(100% - 176px);}
}
@media all and (max-width:1540px) {
.group_menu {width: 122px;}
.group_autho_list {width: calc(100% - 142px);}
}
@media all and (max-width:1500px) {
.counseller_monitoring > ul > li {clear:none;width: 22%;float:left;margin:0 4% 2.5% 0;border-radius:0;}

.counseller_monitoring > ul > li:nth-child(5n) {margin-right:4%;}
.counseller_monitoring > ul > li:nth-child(5n+1) {clear:none;}
.counseller_monitoring > ul > li:nth-child(4n) {margin-right:0;}
.counseller_monitoring > ul > li:nth-child(4n+1) {clear:both;}
}
@media all and (max-width:1495px) {
.group_menu {width: 100%;margin-bottom: 16px;}
.group_menu li {border-radius: 0;margin: 0;border-top:none;border-left: #C9D0D2 1px solid;width: 25%;float: left;clear: none;}
.group_menu li a {text-align:center;}
.group_menu li:first-child {border-left:none;}
.group_autho_list {clear:both;width: 100%;}
}
@media all and (max-width:1210px) {
.counseller_monitoring > ul > li {clear:none;width: 31%;float:left;margin:0 3% 2.5% 0;border-radius:0;}

.counseller_monitoring > ul > li:nth-child(5n) {margin-right:3%;}
.counseller_monitoring > ul > li:nth-child(5n+1) {clear:none;}
.counseller_monitoring > ul > li:nth-child(4n) {margin-right:3%;}
.counseller_monitoring > ul > li:nth-child(4n+1) {clear:none;}
.counseller_monitoring > ul > li:nth-child(3n) {margin-right:0;}
.counseller_monitoring > ul > li:nth-child(3n+1) {clear:both;}
}
@media all and (max-width:1200px) {
.group_autho_list table td {padding: 24px 10px;}
.group_autho_list table td.w30 {width:20%}
.group_autho_list table td.w20 {width:30%;text-align:center;}
}
@media all and (max-width:1240px) {

.ai_part_txt p, .ai_part_txt h4 {padding-right: 73px;}


}


@media all and (max-width:1080px) {

.chating_head h2, .chating_bottom h2 {font-size: 18px;}


}
@media all and (max-width:1040px) {
.group_head select {width: 162px;}

}
